<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recruiter"
        tools:targetApi="tiramisu">


        <activity
            android:name=".appIntroduction.IntroductionActivity"
            android:exported="false" />

        <activity
            android:name=".appIntroduction.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".authentication.OTPVerificationLoginActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.OTPVerificationRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".authentication.AskActivity"
            android:exported="true" />
        <activity
            android:name=".appIntroduction.LoginSignUpActivity"
            android:exported="false" />

        <activity
            android:name=".profile.InformationActivity"
            android:exported="true" />
        <service android:name=".profile.UpdateProfileDataService"/>

        <activity
            android:name=".jobSeekerSide.HomeJobSeekerActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>


        <activity android:name=".recruiterSide.HomeRecruiterActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".messenger.MessengerHomeActivity"
            android:exported="true">
            <!--                        <intent-filter>-->
            <!--                            <action android:name="android.intent.action.MAIN" />-->

            <!--                            <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                        </intent-filter>-->
        </activity>
        <activity
            android:name=".messenger.NewUsersMessageActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".messenger.ChatBoardActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>


    </application>

</manifest>