<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recruiter"
        tools:targetApi="31">
        <activity
            android:name=".OTPVerificationLoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".InformationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OTPVerificationRegistrationActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".IntroductionActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".OTPRecruiterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".OTPRecruiterActivity"
            android:exported="false" />
        <activity
            android:name=".RecruiterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".RecruiterRegActivity1"
            android:exported="false" />
        <activity
            android:name=".RecruiterRegActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OTPActivityJobLogin"
            android:exported="false" />
        <activity
            android:name=".JobLoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".OTPJobActivity"
            android:exported="false" />
        <activity
            android:name=".JobRegisterActivity2"
            android:exported="false" />
        <activity
            android:name=".JobRegisterActivity1"
            android:exported="false"
            android:label="@string/title_activity_job_register1"
            android:theme="@style/Theme.Recruiter" />
        <activity
            android:name=".JobRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".AskActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>